<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="{{ titleLink }}">{{ titleApp }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngIf="isLogged()">
        <a class="nav-link" routerLink="/dashboard">Dashboard</a>
      </li>

      <li class="nav-item" *ngIf="isLogged()">
        <a routerLink="/tickets/create" class="nav-link">New Ticket</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item" *ngIf="isLogged() && profile && profile.isAdmin">
        <a routerLink="/admin" class="nav-link">Admin Panel</a>
      </li>

      <li class="nav-item" *ngIf="isLogged() && profile">
        <a class="nav-link">{{ profile.username }}</a>
      </li>

      <li class="nav-item" *ngIf="isLogged()">
        <a (click)="onLogout()" class="nav-link">Logout</a>
      </li>

      <li class="nav-item" *ngIf="!isLogged()">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>

      <li class="nav-item" *ngIf="!isLogged()">
        <a class="nav-link" routerLink="/signup">Sign Up</a>
      </li>
    </ul>
  </div>
</nav>