<div class="container">
  <div class="row">
    <div class="col">
      <h1>Tickets</h1>
      <hr />

      <table class="table">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Status</th>
            <th scope="col">User</th>
            <th scope="col">Created At</th>
            <th scope="col">Options</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ticket of tickets">
            <td scope="row">{{ ticket.title }}</td>
            <td scope="row">{{ ticket.description }}</td>
            <td scope="row">{{ ticket.status }}</td>
            <td scope="row" *ngIf="ticket.user">{{ ticket.user.username }}</td>
            <td scope="row">{{ ticket.created_at | date }}</td>
            <td scope="row">
              <a routerLink="" class="btn btn-success btn-sm">Update</a>
              <button type="button" class="btn btn-danger btn-sm" (click)="onRemove(ticket._id)">Remove</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
